*{
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    scroll-behavior: smooth;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
#landingpage{
    padding-top: 50px;
    font-family: 'Fredoka One', cursive;
    scroll-margin-top: 20px;
    background-color: rgb(180, 179, 179);
    height: 100vh;
    background-image: url('coverpic.jpg');
    background-size: cover;
    .title{
        position: absolute;
        top: 50%;
        h1{
            font-size: 50px;
            font-weight: bold;
            color: red;
            border: 5px solid blackz;
        }
        h4{
            color: blue;
            font-size: 25px;
        }
        button{
            padding: 10px;
        }
    }
}
#about{
    padding-top: 80px;
    background-color: #b4b3b3;
    height: 100vh;
    position: relative;
    .media{
        position: absolute;
        top: 50%;
        width: 80%;
        transform: translateY(-50%);
        .media-body{
            padding: 10px;
            color: blue;
        }
    }
    .objective{
        background-color: white;
        padding: 10px;
        border-right: 5px solid blue;
        border-radius: 50px 0 0 50px;
        color: green;
    }
    blockquote{
        border-left: 5px solid blue;
        padding: 10px;
        position: absolute;
        bottom: 50px;
        color: green;
        background-color: white;
        border-radius: 0 50px 50px 0;
        strong{
            color: red;
        }
    }
}
#expandedu{
    background-color: rgb(180, 179, 179);
    height: 100vh;
    padding: 40px;
    .edu{
        background-color: white;
        color: red;
        border-radius: 50px 0 0 50px;
        padding: 10px;
        position: relative;
        height: 100px;
        margin: 10px;
        border-right: 10px solid darkcyan;
        .course{
            position: relative;
            background-color: darkcyan;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            .c-name{
                font-weight: bold;
                font-size: 20px;
                padding: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                mix-blend-mode: screen;
            }
        }
        .institute,.period,.result{
            
            img{
                width: 50px;
                height: 50px;
                margin-bottom: 2px;
            }
        }
    }
    .exp{
        background-color: white;
        color: red;
        border-radius: 0 50px 50px 0 ;
        position: relative;
        margin: 10px;
        padding: 10px;
        border-left: 10px solid darkcyan;
        height: 100px;
        .course{
            position: relative;
            background-color: darkcyan;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            .c-name{
                font-weight: bold;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                mix-blend-mode: screen;
            }
        }
        .organization,.period,.techused{
            vertical-align: middle;
            img{
                width: 40px;
                height: 40px;
                margin-bottom: 2px;
            }
            span{
                padding: 5px;
                font-weight: bold;
                color: green;
            }
        }
        .designation{
            background-color: darkkhaki;
            padding: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}
#more{
    background-color: rgb(180, 179, 179);
    height: 100vh;
    padding-top: 70px;
    .card {
        width: 230px;
        height: 230px;
        perspective: 1000px;
        margin: 10px;
      }
      
      .card-body {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .card:hover .card-body {
        transform: rotateY(180deg);
      }
      .card:hover .front{
          display: none;
      }
      
      .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .front {
        background-color: #bbb;
        color: black;
      }
      
      .back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }
    }


#contactme{

    background-color: rgb(180, 179, 179);
    height: 100vh;
    padding-top: 80px;
    position: relative;
    .col-md-6{
        form, iframe{
            position: relative;
            margin-top: auto;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    footer{
        height: 50px;
        padding: 10px;
        position: fixed;
        .socialmedia{
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 5px;
            }
        }
        button{
            position: absolute;
            bottom: 0px;
            right: 5px;
            vertical-align: super;
            img{
                width: 40px;
                height: 40px;
            }
        }
        .copyright{
            margin: 8px auto auto 50px ;
        }
    }
}